body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 650px;
    padding-left: 15px;
}

.borderedTable {
    border-collapse: collapse;
    width: 600px;
}

.borderedTable th, td{
    border: 1px solid silver;
    padding: 4px;
    text-align: center;
}

#prdCat {
    width: 160px;
    height: 25px;
}

.formAdd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 200px;
}


